* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

body {
    background-color: olivedrab;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizCard {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.input-group {
    width: 60%;
    height: 40px;
}

#username {
    border: none;
    outline: none;
    box-shadow: none;
    text-transform: capitalize;
    border-bottom: 1.6px solid olivedrab;
}

#username:focus {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.btn{
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.quizBody{
    padding: 10px 0;
    margin: 10px 0;
}

.loader i{
    font-size: 50px;
}

.playground{
    display: none;
}

.playground, loader{
    display: none;
}

.quizBody #options option{
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.quizBody #options option:hover{
    border: 1px solid #689f38;
}

.quizBody #options option.correct{
    border-color: #689f38;
    color: #689f38;
    background: #e7f6d5;
}

.quizBody #options option.Incorrect{
    border-color: #d32f2f;
    color: #d32f2f;
    background: #ffdde0;
}

/* --------------Media Queries----------- */
@media only screen and (max-width:480px) {
    .quizCard {
        margin: auto 0.6rem;
        /* font-size: 1rem; */
    }

    .input-group {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

}